[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/hlslpp"]
	path = ThirdParty/hlslpp
	url = https://github.com/redorav/hlslpp
[submodule "ThirdParty/nlohmann"]
	path = ThirdParty/nlohmann
	url = https://github.com/nlohmann/json
